* {
    margin:0;
    padding:0;
}

a  {
    text-decoration: none;
    color:inherit;
}

li {
    list-style: none;
}

body {
    font-size: 14px;
    color:#86878b;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 79%;
    margin:0 auto;
}

.page-header {
    background: #000;
    padding-top:20px;
    padding-bottom:20px;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index:10;
}

.page-header .wrapper{
    display: flex;
    justify-content:space-between;
}
nav .nav-items {
    color:rgba(201, 201, 201, 0.69);
    margin-top:7px;
}

nav .nav-items li {
    display: inline-block;
    margin-right:45px;
}

nav span {
    display: none;
}

nav .nav-items li:last-child {
    margin-right:0;
}

nav .nav-items a:hover {
color:#c9c9c9;
}

nav .nav-items a:active {
    color:rgba(201, 201, 201, 0.2);
}

.main-top {
    padding:60px 0 135px 0;
    background: #111  url("../img/light_texture2268.png") no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin-top: 47px;
}

.main-top .grid-container {
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
}

.main-top .logo {
    margin-bottom:32px;
}

.main-top .main-left h1 {
    font-size:36px;
    color:white;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-bottom: 80px;
}

.main-top .main-left h1::after {
content:"";
position: absolute;
width:64px;
height:2px;
bottom:-40px;
left:0;
background:white;
}

.main-top .main-left p {
    font-family: inherit;
    font-size:16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 23px;
    margin-bottom: 45px;
}

.submit {
    color:white;
    border: 2px solid white;
    padding:9px 30px;
    font-size: 15px;
}


.feedback {
    min-width:365px;
    max-width: 366px;
    background-color: #fff;
    margin-top: 35px;
    border:none;
    height: 360px;
    margin-left: 200px;
}

input {
    width:100%;
    border:none;
    border-bottom: 1px solid #d6d6d6;
    padding:15px 0;
    height:auto;
    margin-bottom: 12px;
}

input[type="submit"] {
    border-bottom:none;
}

.main-top .inputs {
    border:none;
    padding:0 37px;
}

fieldset:last-of-type {
    margin-bottom: 48px;
}

.feedback h3 {
    font-size: 20px;
    font-weight: bold;
    width:100%;
    text-align:center;
    background: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.feedback h3 span {
    color:#ff8b38;
}

.feedback > input:last-of-type {
    color: white;
    background-color:#ff9b51;
    padding:20px 0;
    margin:0;
    transition:all 0.3s ease-in-out;
}

.feedback .input__submit:hover {
color:rgb(31, 24, 24);
background-color: rgb(173, 161, 175);
}

.feedback .input__submit:active {
    background-color: rgb(217, 202, 219);
    border:none;
}

.social {
    background: #fff;
    padding:24px 0;
}

.social .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items:center;
}

.social-media {
    color:black;
}

.social-media h3 {
    font-weight:bold;
    font-size:20px;
    color:#333333;
}

.social-media p:last-child {
    color: #86878b;
}

.social-icons {
    font-size:48px;
    color: #cccccc;
    margin-left:auto;
}

.social .social-icons i {
    margin-left:30px;
    transition: all 0.5s ease;
}

.social .social-icons i:hover {
color:#4e4e4e;
}

.feature-1 {
    background: #f5f5f5;
    padding:145px 0 115px;
}

@keyframes anim {
from {
    filter:blur(5px);
}
to {
filter: blur(0);
}
}

.feature-1 .wrapper {
    display:flex;
    position: relative;
}

.feature-1 .tabs input {
display:none;
}


#tab__1,
#tab__2,
#tab__3 {
    display: none;
}

#tab-1:checked ~ #tab__1,
#tab-2:checked ~ #tab__2,
#tab-3:checked ~ #tab__3 {
    display: block;
}

.feature-1 .wrapper .tabs label {
    display: flex;
    justify-content: center;
    align-items: center;
    width:110px;
    height:110px;
    background: #333333;
    margin-bottom: 1px;
    cursor: pointer;
    position:absolute;
    left:0;
    top:0;
}

.feature-1 .tabs label:nth-last-of-type(2) {
    top:111px;
}

.feature-1 .tabs label:nth-last-of-type(3) {
    top:222px;
}

.feature-1 .tabs label span {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
 
.feature-1 .wrapper .tabs label:hover {
    background:rgba(51, 51, 51, 0.92);
}
.feature-1 .wrapper .tabs [id^="tab"]:checked + label{
    background: #ff8b38;
}

.description {
    width:auto;
    margin-left: 160px;
    margin-right: 100px;
    animatioN:anim 0.8s ease-in-out;
    min-height: 330px;
}

#tab__2 h3 {
    color: rgba(44, 10, 54, 0.932);
}

#tab__2 p {
    color:rgba(75, 6, 6, 0.849);
}

#tab__1 h3 {
    color: rgba(14, 25, 177, 0.726);
}

#tab__1 p {
    color:rgba(6, 82, 22, 0.767);
}

.description h3{
    font-size:20px;
    color:black;
    margin-bottom: 50px;
}

.description p:first-of-type {
    margin-bottom: 25px;
}

.description p:last-of-type {
    margin-bottom: 50px;
}

.description .submit {
    font-size:15px;
    color:white;
    background-color:#ff8b38;
    line-height: 20px;
    padding:15px 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.submit {
    transition:all 0.2s ease;
}

.submit:hover {
    background-color: rgba(184, 164, 164, 0.288);
}

.submit:active {
    background-color: rgba(184,164,164,0.9);
}

.submit__feature:hover {
    background-color: #bb4e05ea;
}

.submit__feature:active {
    background-color: #ff8b38c0;
}

.picture {
    margin-left: auto;
}

.feature-2 {
background: #fff;
padding: 105px 0 135px 0;
}

.feature-2 .wrapper {
    display: flex;
}

.insert__picture {
    width:42%;
    height: 42%;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: 0;
    border: none;
    border-bottom: 1px solid #ff8b38;
    -webkit-box-shadow: 0 2px 0 #ff8b38;
    box-shadow: 0 2px 0 #ff8b38;
}

input {
    font-size: 16px;
}

textarea {
    font-size: 14px;
}

input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
input::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
input:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feature-2 .sub-list {
    width:35%;
    margin-left: auto;
}

.feature-2 .sub-list h3 {
    font-size:20px;
    color: black;
    font-weight: bold;
    margin-bottom: 60px;
    position: relative;
}

.feature-2 .sub-list h3::after,
.feature-3 .description-2 h3::after {
    content: "";
    position: absolute;
    width:70px;
    height: 2px;
    left:0;
    bottom:-30px;
    background-color:#ff8b38;
}

.feature-2 .sub-list > p {
padding-right: 20px;
margin-bottom: 50px;
}

.feature-2 .sub-list ul h5 {
    color:black;
    line-height: 17px;
    margin-bottom: 12px;
}

.feature-2 .sub-list ul p:first-of-type {
margin-bottom: 40px;
}

.feature-2 .sub-list li {
    position: relative;
    padding-left:70px;
}

.feature-2 .sub-list li i {
    position:absolute;
    left:0px;
    top:0;
    font-size:15px;
    color:#fe8d3a;
    padding:12px;
    border:2px solid #fe8d3a;
    border-radius:50%;
}

.feature-2 .sub-list li i:hover,
.our__process .dl-container dt i:hover {
    color: rgb(126, 119, 119);
    border-color: rgb(126, 119, 119);
}

.feature-2 .sub-list li i:active,
.our__process .dl-container dt i:active {
    color: rgb(173, 161, 175);
    border-color:rgb(173,161,175);
}

.feature-3 {
    padding:90px 0 130px;
    background-color: #f5f5f5;
}

.feature-3 .wrapper {
    display: flex;
    justify-content: space-between;

}

.feature-3 .description-2 {
    width:37%;
    margin:0;
    padding: 0;
}

.feature-3 .description-2 h3 {
    font-size: 20px;
    color:black;
    margin-bottom: 63px;
    position: relative;
}


.feature-3 .description-2 p:first-of-type {
    margin-bottom: 28px;
}

.feature-3 .insert__picture {
    margin: 0;
    padding: 0;
}


.our__process {
    padding:110px 0 100px;
    background: white;
}

.our__process h2,
.pricing h2,
.comments h2,
.custom h2,
.contact__us h2 {
    font-family: 'Nanum Gothic', "Arial", sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
    margin-bottom: 60px;
    text-align: center;
    position: relative;
}

.our__process h2::after,
.pricing h2::after,
.comments h2::after,
.custom h2::after,
.contact__us h2::after {
    content: "";
    background-color: #ff8b38;
    width:70px;
    height:2px;
    position: absolute;
    bottom: -30px;
    left:50%;
    transform: translate(-50%, -50%);
}

.our__process .wrapper > p,
.pricing .wrapper > p {
    text-align: center;
    margin-bottom: 80px;
}

.our__process dt h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 26px;
    color:black;
}

.our__process i {
    color: #ff8b38;
    font-size: 22px;
    padding:20px;
    border-radius: 50%;
    border:2px solid #ff8b38;
    margin-bottom: 30px;
}

.our__process .far.fa-lightbulb,
.our__process .fas.fa-bolt {
padding:20px 25px;
}

.our__process .dl-container {
    display:grid;
    grid-template-columns:30% 30% 30%;
    gap:3.3333%;
}

.our__process dt {
    text-align:center;
}

.our__process .dl-container dt i {
    cursor: pointer;
}

.our__process .dl-container dt p {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color:#333333;
    margin-bottom: 20px;
}

.our__process dd p {
    text-indent: 8px;
    text-align: center;
}

.pricing {
    padding:105px 0 95px;
    background-color: #f5f5f5;
}

.pricing .pricing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:3%;
    align-items: end;
}

.pricing .top{
    font-size: 20px;
    color:#fff;
    font-weight: bold;
    padding:25px 0;
    background-color: #333333;
    margin-bottom: 1px;
    text-align: center;
    align-items: end;
}

.pricing .top h3 {
    line-height: 1;
}

.pricing .middle {
    background-color: #333333;
    padding:30px 0 25px;
    color:#fff;
    text-align: center;
    border-bottom: 4px solid #ff8b38;
}

.pricing .middle p:first-of-type {
font-size:38px;
font-weight: bold;
line-height:1;

}

.pricing span {
    font-size:2em;
    font-family: 'Raleway', sans-serif;
} 

.pricing .middle p:nth-of-type(2){
    color:rgba(173, 173, 173, 0.5);
    margin-top: 25px;
}

.pricing .professional-cost .middle {
    border:none;
    padding:30px 0 0 0;
}

.pricing .professional-cost .middle p:last-of-type {
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ff8b38;
    padding:0.9em 0;
    margin-top: 20px;
}

.pricing .bottom li {
    text-transform:uppercase;
    background-color: #fff;
    text-align: center;
    color:#86878b;
    padding:12px 0;
    margin-bottom: 1px;
    position: relative;
}

.pricing .bottom li::after {
    content: "";
    background-color: rgba(3, 71, 88, 0.1);
    width:0;
    height:100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:all 0.3s ease-in 0.15s;
}

.pricing .bottom li:hover::after {
    width:100%;
}


.comments {
    padding:100px 0 100px;
    background-color: #fff;
}

.comments .comments__container {
    display:flex;
    column-gap: 6%;
}

.comments .comments__container blockquote:nth-last-of-type(2) {
    margin:0 auto;
}

.comments .wrapper > p{
text-align: center;
margin-bottom: 52px;
}

.comments blockquote > p {
background-color: #f5f5f5;
padding:24px 12px;
margin-bottom: 23px;
width:100%;
border-radius:3px;
position: relative;
}

.comments blockquote > p:after {
    content: "";
    position: absolute;
    bottom:-16px;
    left:28px;
    width:0;
    height: 0;
    border-top:16px solid #f5f5f5;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}

.comments blockquote .bottom p {
    margin-right:auto;
    padding:0;
}

.comments blockquote .bottom {
    display: grid;
    grid-template-columns: 30%  auto;
    align-items: center;
}

.comments blockquote .name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.comments blockquote span::before {
    content: "";
    display:inline-block;
    width:70px;
    height:70px;
    background-color: #9a9a9a;
    border-radius: 50%;
    margin-left: 3px;
    margin-right:15px;
}


.custom {
    background: #111 url("../img/dfa8e096773f5d77ff65278029b19a5399de206fcc50c2e011ebd2bba21b2878.jpg") no-repeat;
    background-size: cover;
    padding:70px 0 40px;
    text-align: center;
}

.custom h2 {
    color:#fff;
}

.custom h2::after {
    background-color: #fff;
}

.custom p:first-of-type {
    margin-bottom: 33px;
    color:rgba(255, 255, 255, 0.8);
}

.contact__us {
    background-color: #fff;
    padding:100px 0 80px;
}

.contact__us .wrapper > p {
    text-align: center;
    margin-bottom: 80px;
}

.contact__us .feedback-1 {
    display: grid;
}

.contact__us .feedback-1 > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 68px;
}

.contact__us .feedback-1 textarea {
    height:157px;
    width:100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.contact__us .feedback-1 input[type="submit"] {
    padding:15px 20px;
    width:auto;
    line-height: 1;
    justify-self: center;
    margin-top: 40px;
    border-radius: 3px;
    border:none;
}

.feedback-1 input[type="submit"]:hover {
    background-color: rgba(47, 46, 48, 0.3);
}

.feedback-1 input[type = "submit"]:active,
.feedback-1 input[type = "submit"]:focus {
    background-color: rgba(141, 135, 145, 0.25);
    border: none;
}

footer {
    background-color: #000;
    padding:20px 0 10px;
}

footer .social-icons {
    color:#cccccc;
    font-size:22px;
    text-align: center;
    line-height: 1;
    margin-bottom: 15px;
}

footer .social-icons i {
    transition: all 0.5s ease;
    margin-right: 25px;
}

footer .social-icons i:hover {
    color: #fff;
}

footer p {
    font-size: 12px;
    color:rgba(255, 255, 255, 0.5);
    text-align:center;
    line-height: 1;
}

input[type="submit"] {
    cursor: pointer;
}

#contact input:focus {
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}



@media screen and (min-width:2100px){
    .pricing .wrapper {
        width:1500px;
    }
}

@media screen and (max-width:1280px) {
    .feature-1 .description {
        margin-right: 0;
    }

    .main-top {
        padding-bottom:80px;
    }

    .main-top .grid-container {
        flex-direction: column;
        align-items: center;
    }

    .main-top .main-left {
        width: 100%;
        z-index: 1;
    }

    .main-top .feedback {
        display: none;
    }

    .feature-1 .picture {
        display: none;
    }

    .comments .comments__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comments .wrapper .comments__container blockquote {
        width:70%;
        margin-bottom: 60px;
    }

    .comments .comments__container blockquote:nth-of-type(2) {
        margin:0;
        margin-bottom: 60px;
    }

    .comments .comments__container blockquote:nth-of-type(3) {
        margin-bottom:0;
    }

    @media screen and (max-width:1000px) {
        .pricing .wrapper .pricing-container {
            grid-template-columns: 60%;
            align-items: center;
            justify-content: center;
            row-gap: 60px;
        }
    }

    @media screen and (max-width:870px) {
        .social .wrapper {
        grid-template-columns: 1fr;
        text-align: center;
        }

        .social .social-media {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width:800px) {

        .social .social-icons {
            margin:0 auto;
            font-size: 36px;
        }

        .feature-1 .wrapper .tabs label {
            width: 30%;
        }

        .feature-1 .wrapper .tabs label:nth-of-type(2) {
            top:0;
            left: 33.3333%;
        }

        .feature-1 .tabs label:nth-last-of-type(3) {
            top:0;
            left:66.66666%;
        }

        .feature-1 .tabs .description {
            margin:0;
            margin-top: 160px;
            width: 100%;
        }

        .feature-2 .wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .feature-2 .wrapper .insert__picture {
            width: 100%;
            height: 100%;
            margin-bottom: 100px;
        }

        .feature-2 .wrapper .sub-list {
            margin:0;
            width: 100%;
        }

        .feature-3 .wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .feature-3 .wrapper .insert__picture {
            width: 100%;
            height:100%;
        }

        .feature-3 .wrapper .description-2 {
            width:100%;
            margin:0;
            margin-bottom: 100px;
        }

        .our__process .wrapper .dl-container {
            grid-template-columns: 1fr;
        }

        .our__process .wrapper .dl-container dl {
            margin-bottom: 40px;
        }

        .our__process .wrapper .dl-container dl:last-of-type {
            margin-bottom: 0;
        }

        .contact__us .feedback-1 > div  {
            grid-template-columns:  1fr;
        }

        .contact__us .feedback-1 > div input{
            margin-bottom: 20px;
        }

        .contact__us .feedback-1 > div input:last-of-type {
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width:660px) {
        .social .social-icons {
            font-size: 30px;
            padding:10px 0;
        }
    }

    @media screen and (max-width:600px) {
        .pricing .wrapper .pricing-container {
            grid-template-columns: 100%;
        }
    }

    @media screen and (max-width:540px) {
        .our__process .wrapper h2 {
            font-size: 28px;
        }

        .pricing .wrapper h2 {
            font-size: 28px;
        }

        .comments .wrapper h2 {
            font-size: 28px;
        }

        .custom .wrapper h2 {
            font-size: 28px;
        }

        .contact__us .wrapper h2 {
            font-size: 28px;
        }

        .comments .wrapper .comments__container blockquote .bottom{
            grid-template-columns: 40% auto;
        }

        .comments .wrapper .comments__container blockquote {
            width:90%;
        }
    }

    @media screen and (max-width:500px) {
        .main-top .feedback {
            width: 100%;
        }
        .main-top .main-left .logo img {
            width:40%;
            height: 40%;
        }

        footer .social-icons i {
            margin-right:10px ;
        }
    }

    @media screen and (max-width:570px) {
        .main-top .main-left h1 {
            font-size: 28px;
        }

        .main-top .main-left p {
            font-size: 15px;
        }
    }

    @media screen and (max-width:350px) {
        .social .social-icons {
            font-size: 25px;
        }

        footer .social-icons {
            font-size: 18px;
        }
    }
}

@media screen and (max-width:1000px) {
    .feature-1 {
        padding:70px 0;
    }

    .feature-1 .description {
        min-height: 0;
    }

    .feature-2 {
        padding:70px 0 60px;
    }

    .feature-2 .insert__picture {
        float:left;
    }

    .feature-2 .sub-list {
        margin-left:80px;
    }

    .feature-3 {
        padding:60px 0;
    }

    .our__process {
        padding:70px 0 90px;
    }

    .pricing {
        padding:60px 0;
    }

    .comments {
        padding:70px 0 60px;
    }

    .contact__us {
        padding:60px 0;
    }


    nav .mobile-menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    #mobileMenu {
        z-index: 100;
    }

    nav .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100vw;
        background-color:#000;
        position:fixed;
        top:0;
        transform: translateY(-100%);
        right:0;
        z-index: 20;
        transition: all 0.7s;
    }

    .page-header .wrapper nav .nav-items-active {
        top:64px;
        transform: translateY(0);
    }

    .mobile-menu-active {
        transform: rotate(90deg);
    }

    .page-header nav .mobile-menu {
        transition: all 0.6s ease-in-out;
    }

    .page-header .logo {
        z-index: 90;
    }

    .page-header .wrapper nav .nav-items li a {
        display: block;
        width:100vw;
        padding:10px 0;
        text-align: center;
        border-bottom:2px solid rgb(36, 36, 36);
        z-index: 20;
        font-size: 16px;
    }

    .page-header .wrapper nav .nav-items li a:hover {
        background-color: #33333350;
    }

    .page-header .wrapper nav .nav-items li:first-child a {
        border-top:2px solid rgb(36, 36, 36);
    }

    .page-header .wrapper nav .nav-items li:first-child {
        margin-top: 10px;
    }

    .page-header .wrapper nav .nav-items li {
        z-index: 20;
        margin:0 auto;
    }
}
